<ul nz-menu nzMode="inline" style="min-height: 100%">
  <div class="logo-container d-flex">
    <img src="assets/images/foxbel-music.svg" alt="FOXBEL MUSIC" />
  </div>
  <ul>
    <li nz-menu-group nzTitle="Mi librería">
      <ul>
        <li nz-menu-item nzSelected>Recientes</li>
        <li nz-menu-item>Artistas</li>
        <li nz-menu-item>Álbumes</li>
        <li nz-menu-item>Canciones</li>
        <li nz-menu-item>Estaciones</li>
      </ul>
    </li>
    <li nz-menu-group nzTitle="Playlist">
      <ul>
        <li nz-menu-item>Metal</li>
        <li nz-menu-item>Para bailar</li>
        <li nz-menu-item>Rock 90s</li>
        <li nz-menu-item>Baladas</li>
      </ul>
    </li>
  </ul>
</ul>
