.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-black-light {
  color: var(--color-black-light);
}

.color-primary {
  color: var(--color-primary);
}

.color-primary-light {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-secondary-bg {
  background-color: var(--color-secondary);
}

.color-transparent {
  color: var(--color-transparent);
}

.color-transparent-bg {
  background-color: var(--color-transparent);
}
