.app-container {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.cargando-container__texto {
  letter-spacing: 2rem;
  margin: 0;
}

.cargando-container {
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 100vh;
  background-color: var(--primary-50);
}

.cargando-container i {
  font-size: 24px;
}
